.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub
build/
coverage/
*.apk
*.aab
*.app
*.ipa
*.dmg
*.snap
*.deb
*.rpm
.git
.gitignore
README.md
*.md
.vscode
.idea
.DS_Store
Thumbs.db
*.log
android/
ios/
linux/
macos/
windows/
web/




